In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/god/Desktop/bookings.csv', sep=';')

In [3]:
df

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [5]:
# Функция заменяет пробел на нижнее подчеркивание, делает шрифт строчным
def to_lower_underscore(name):
    name = name.lower().replace(' ','_')
    return name 
df = df.rename(columns = to_lower_underscore)

In [7]:
df

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,ResortHotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,ResortHotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,ResortHotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,ResortHotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,ResortHotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,CityHotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,CityHotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,CityHotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,CityHotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,CityHotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [8]:
# Сравнение среднего кол-во успешно забронированных ночей в зависимости от отеля 
df.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(4)

             stays_total_nights
hotel
CityHotel                2.9781
ResortHotel              4.3185

In [9]:
# Кол-во отмененных бронирований в отелях City Hotel по годам

df_years = df[(df['hotel'] == 'CityHotel')  & (df['is_canceled'] == 1)]\
            .groupby('arrival_date_year', as_index=False) \
            .agg({'is_canceled' : 'sum'}) 
df_years

   arrival_date_year  is_canceled
0               2015         6004
1               2016        15407
2               2017        11691

In [10]:
# Кол-во отмененных бронирований в какждом месяце каждого года

df_years_1 = (df.query('is_canceled == 1')
.groupby(['arrival_date_year', 'arrival_date_month'], as_index = False) 
.agg({'is_canceled' : 'sum'}) 
.sort_values('is_canceled', ascending = False))


df_years_1

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2762
16               2016            October         2514
18               2017              April         2463
23               2017               June         2439
12               2016               June         2096
5                2015          September         2094
6                2016              April         2061
17               2016          September         2022
22               2017               July         1984
14               2016                May         1915
7                2016             August         1825
19               2017             August         1816
4                2015            October         1732
24               2017              March         1672
15               2016           November         1636
0                2015             August         1598
11               2016               July         1499
13               2016              March         1477
8                2016           December         1398
20               2017           February         1359
9                2016           February         1337
2                2015               July         1259
21               2017            January         1250
1                2015           December          973
10               2016            January          557
3                2015           November          486

In [11]:
# Средний поакзатель наличия взрослых, детей, маленьких детей, во всех бронированиях
df[['adults','children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [12]:
# Добавление в исходую таблицу столбца total_kids с указанием общего количества детей в каждом бронировании
df['total_kids'] = df['children'] + df['babies']
df[df['total_kids'] > 0 ]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
13,ResortHotel,0,18,2015-07-01,2015,July,27,1,0,4,...,1.0,0,HB,ESP,G,G,Transient,Check-Out,2015-07-05,1.0
45,ResortHotel,1,47,2015-07-02,2015,July,27,2,2,5,...,2.0,0,BB,PRT,G,G,Transient,Canceled,2015-06-02,2.0
55,ResortHotel,0,1,2015-07-02,2015,July,27,2,0,1,...,2.0,0,BB,ESP,C,C,Transient,Check-Out,2015-07-03,2.0
65,ResortHotel,0,10,2015-07-03,2015,July,27,3,0,2,...,2.0,0,BB,USA,G,H,Transient,Check-Out,2015-07-05,2.0
87,ResortHotel,1,79,2015-07-03,2015,July,27,3,6,15,...,1.0,0,BB,PRT,A,A,Transient,Canceled,2015-04-15,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119270,CityHotel,0,0,2017-08-29,2017,August,35,29,0,3,...,1.0,0,BB,ROU,A,D,Transient,Check-Out,2017-09-01,1.0
119287,CityHotel,0,167,2017-08-27,2017,August,35,27,2,4,...,1.0,0,BB,AUT,D,D,Transient,Check-Out,2017-09-02,1.0
119293,CityHotel,0,243,2017-08-30,2017,August,35,30,0,3,...,2.0,0,BB,DEU,F,F,Transient,Check-Out,2017-09-02,2.0
119318,CityHotel,0,160,2017-08-29,2017,August,35,29,0,5,...,1.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-03,1.0
119319,CityHotel,0,45,2017-08-28,2017,August,35,28,1,5,...,2.0,0,BB,GBR,F,F,Transient,Check-Out,2017-09-03,2.0

In [13]:
# Среднее кол-во бронирований с детьми в каждом типе отеля
df.query('total_kids > 0') .groupby('hotel', as_index = False) .agg({'total_kids' : 'mean'})

         hotel  total_kids
0    CityHotel    1.414029
1  ResortHotel    1.453805

In [14]:
# Кол-во не отмененных и отмененных бронирований в каждой возрастной группе детей
pd.crosstab(df['is_canceled'], df['total_kids'])

total_kids    0.0   1.0   2.0   3.0   9.0   10.0
is_canceled
0            69093  3769  2221    81     1     1
1            40961  1677  1551    30     0     1

In [15]:
# Добавление в таблицу столбца has_kids со значениями True или False
df['has_kids'] = df['total_kids'].apply(lambda x: True if x else False)

In [16]:
df

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,ResortHotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,ResortHotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,ResortHotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,ResortHotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,ResortHotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,CityHotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0,False
119386,CityHotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0,False
119387,CityHotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0,False
119388,CityHotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0,False
119389,CityHotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0,False

In [17]:
# бщее кол-во бронирований с детьми 
number_of_childrenn = 0
for i in df['total_kids']:
    if  i == True :
        number_of_childrenn += 1  
print(number_of_childrenn )

5446

Проведем расчет churn rate (коэффициента оттока клиентов) 
Посмотрим как влияет отмена бронирования в зависимости от наличия или отсутсвия детей

In [18]:
churn_without = round((df.query("has_kids == False & is_canceled == 1").shape[0]
       / df.query("has_kids == False").shape[0])*100,2) # Отток клиентов без детей

churn_with = round((df.query("has_kids == True & is_canceled == 1").shape[0]
       / df.query("has_kids == True").shape[0])*100,2) # Отток клиентов с детьми

In [19]:
churn_without,\
churn_with

(37.22, 34.95)

In [20]:
round(churn_without - churn_with, 2 )

2.27

Отток клиентов с детьми меньше , чем отток клиентов без детьми.
Разница составляет 2,27 %